{% extends 'news/base.html' %}
{% load static %}
{% block title %} Parolni tiklash {% endblock title %}

{% block content %}

    <h1>Parolni tiklash</h1>
<p>Parolingizni o'zgartirish uchun, quyidagi formani to'ldiring </p>

    {% if validlink %}

        <p>Iltimos, yangi parolni 2 marta kiriting! </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <p><button type="submit">Parolni almashtirish</button></p>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz. Iltimos qaytadan urinib ko'ring </p>
        </form>

    {% endif %}


{% endblock content %}